body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}


header{
text-align:center;
padding:25px;
background:#222;
}


nav{
text-align:center;
padding:15px;
}


button{
padding:10px 20px;
border-radius:20px;
border:none;
}


.profile{
display:flex;
align-items:center;
gap:20px;
padding:20px;
}


.profile img{
width:90px;
height:90px;
border-radius:50%;
}


.post{
background:#222;
width:90%;
max-width:500px;
margin:auto;
padding:15px;
border-radius:15px;
}


.post img{
width:100%;
border-radius:15px;
}


footer{
text-align:center;
padding:20px;
}
